.container{
    width: 100vw;
    height: 100vh;
    background-color: #302E2B;
    display: flex;
    flex-direction: column;
}

.title{
    color: #FFFFFF;
    align-self: center;
    font-size: 10vw;
    font-weight: 700;
}