.table{
    width: 70vw;
    height: fit-content;
    background-color: #E1B86A;
    margin-top: 10vw;
    min-height: 5vh;
}

.row{
    width: 100%;
    aspect-ratio: 7/1;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.username{
    border-left: 3vw;
    border-color: #E1B86A;
    width: 40%;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: 3px solid #504F89;
    font-weight: 600;
}

.looser{
    border: 3px solid #CF1E1E;
}