.pageContainer{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #302E2B;
}

.authIcon{
    width: 60vw;
    height: 60vw;
    padding-top: 5vw;
}

.inputContainer {
    background-color: #666564;
    margin-top: 7vw;
    width: 60vw;
    height: 100vw;
    border-radius: 10px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form{
    width: 60vw;
    height: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.authButton {
    all: unset;
    margin-top: 5vw;
    color: white;
    font-size: 4vw;
}

.changeAuth{
    margin-top: auto;
    padding-bottom: 10px;
}

.label {
    position: relative;
    font-size: 4vw;
    border-top: 6vw solid transparent;
    margin-bottom: 5px;
    margin-left: 10%;
    display: inline-block;
    --field-padding: 3vw;
}
  
.label .input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f2f2f2;
    padding: var(--field-padding);
    border-radius: 3px;
    width: 80%;
    aspect-ratio: 17/1;
    outline: none;
    font-size: 4vw;
}
  
.label .placeholder {
    position: absolute;
    left: var(--field-padding);
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    top: 6vw;
    line-height: 100%;
    transform: translateY(-50%);
    color: #797474;
    transition: 
      top 0.3s ease,
      color 0.3s ease,
      font-size 0.3s ease;
}
  
.label .input.dirty + .placeholder,
.label .input:focus + .placeholder,
.label .input:not(:placeholder-shown) + .placeholder {
    top: -10px;
    font-size: 3vw;
    color: #222;
}
  
.label .error_message {
    width: calc(80% + 2vw);
    display: flex;
    align-items: center;
    padding: 0 8px;
    font-size: 2.5vw;
    background: #d30909;
    color: #fff;
    height: 24px;
}
  
.label .error_message:empty {
    opacity: 0;
}