.pageContainer{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #302E2B;
    overflow: hidden;
}

.authIcon{
    width: 60vw;
    height: 60vw;
    padding-top: 5vw;
}

.inputContainer {
    background-color: #666564;
    margin-top: 7vw;
    width: 60vw;
    height: 100vw;
    border-radius: 10px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form{
    width: 60vw;
    height: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.authButton {
    all: unset;
    margin-top: 5vw;
    color: white;
    font-size: 5vw;
}

.input{
    margin-top: 8vw;
    border-radius: 8vw;
    width: 80%;
    border: 3px solid #437442;
    aspect-ratio: 7/1;
}

.password0{
    margin-top: 10vw;
}

.password1{
    margin-top: 3vw;
}

.changeAuth{
    margin-top: auto;
    padding-bottom: 10px;
}